{
  "presets": [
    ["env", {
      "exclude":["transform-regenerator"]
    }]
  ],
  "plugins": [
    ["fast-async", {
      "spec":true
    }]
  ]
  // "plugins": [
  //   ["transform-runtime", {
  //     "polyfill": false,
  //     "regenerator": true
  //   }]
  // ]
}
